body {
  background-color: #f0f0f0;
}

header {
  background-color: #562b81;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  height: 35px;
  padding-top: 7px;
}

h1 {
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
}

label {
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 7px;
}

input,
textarea {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-color: #c8c8c8;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
}

textarea {
  height: 130px;
}

button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  background-color: #562b81;
  color: white;
  width: 85px;
  height: 35px;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #562b81;
  letter-spacing: 1px;
}

li {
  list-style-type: none;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  margin-bottom: 35px;
}

.no-entry-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: 75px;
  font-family: sans-serif;
}

h2 {
  font-size: 29px;
  font-family: sans-serif;
}

.row {
  width: 100%;
}

.column-solo-half {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#new-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #562b81;
  color: white;
  width: 70px;
  height: 35px;
  font-family: sans-serif;
  border-radius: 5px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #562b81;
  letter-spacing: 1px;
  margin-top: 25px;
}

#entries-link {
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 20px;
}
